services:
  postgres:
    image: postgres:latest
    volumes:
      - ./pgdata:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"